<div class="{{styles.input_wrapper}}">
    <label for="{{inputName}}" class="{{styles.input_label}}">{{label}}</label>
    <input type="{{type}}" id="{{inputName}}" class="{{styles.input}}" value="{{value}}" {{#if
        disabled}}disabled{{/if}} />
    <p class="{{styles.input_error}}">{{errorText}}</p>
</div>