<div class="{{styles.chat}}">
  <div class="{{styles.chat_left-side}}">
    {{{topControls}}}

    {{{chatPreviews}}}

    {{{bottomControls}}}
  </div>

  {{{rightSide}}}

  {{#if isCreateChatOpened}}
  {{{createChatModal}}}
  {{/if}}
</div>