<div class="{{styles.chat}}">
  <div class="{{styles.chat_side}} {{styles.chat_side__left}}">
    {{> topControls}}

    {{#each previews}}
    {{>chatPreview activeChatId=../activeChatId}}
    {{/each}}

    {{> bottomControls}}
  </div>
  <div class="{{styles.chat_side}} {{styles.chat_side__right}}">
    {{> rightSide}}
  </div>
</div>