<button id="{{id}}" type="{{type}}" class="{{styles.button}}
        {{#if green}}{{styles.button__green}}{{/if}}
        {{#if red}}{{styles.button__red}}{{/if}}
        {{#if yellow}}{{styles.button__yellow}}{{/if}}
        {{#if small}}{{styles.button__small}}{{/if}}
        {{#if marginBottom}}{{styles.button__margin-bottom}}{{/if}}
        {{#if marginTop}}{{styles.button__margin-top}}{{/if}}
        ">
    {{text}}</button>