<div class="{{styles.message}}
{{#if isMyMessage}}{{styles.message__gray}}{{else}}{{styles.message__green}}{{/if}}
">
    <div class="{{styles.message_info}}">
        <p class="{{styles.message_info-name}}">{{name}}</p>
        <p>{{time}}</p>
    </div>
    <p class="{{styles.message_text}}">{{message}}</p>
</div>