<div class="{{styles.chat_wrapper}}">
    {{#if isChatSettingsOpened}}
    {{{chatSettings}}}
    {{/if}}

    {{#if isProfileOpened}}
    {{{profileSettings}}}
    {{/if}}

    {{#if isChatOpened}}
    {{#if isSomeChatActive}}
    {{{chatControls}}}
    <div class="{{styles.chat_window}}">
        <div class="{{styles.chat_messages}}">
            {{{date}}}
            {{{chatMessages}}}
        </div>
    </div>
    {{{messageControls}}}
    {{else}}
    <p class="{{styles.chat_stub}}">Select a chat!</p>
    {{/if}}
    {{/if}}
</div>