<div class="{{styles.member}}">
    {{{userInfo}}}
    <button id="removeMember" class="{{styles.member_remove}}">
        <img src="{{img}}" class="{{styles.member_remove-image}}" alt="Remove" />
    </button>
</div>