<form class="{{styles.registration_form}}">
    {{{title}}}
    {{{emailInput}}}
    {{{loginInput}}}
    {{{firstNameInput}}}
    {{{secondNameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{button}}}

    <p class="{{styles.signin_text}}">Already have an account? <a class="{{styles.signin_link}}" href="/signin">Sign
            in</a>
    </p>
</form>