<p class="{{styles.title}}
    {{#if white}}{{styles.title__white}}{{/if}}
    {{#if alignLeft}}{{styles.title__align-left}}{{/if}}
    {{#if marginBottom}}{{styles.title__margin-bottom}}{{/if}}
    ">{{text}}</p>