<form class="{{styles.signin_form}}">
    <div>
        {{{title}}}
        {{{loginInput}}}
        {{{passwordInput}}}
        <p class="{{styles.signin_error}}">Wrong login or password</p>
    </div>

    <div>
        {{{button}}}
        {{{buttonLink}}}
    </div>
</form>