<div>
    <div class="{{styles.members_search}}">
        {{{chatInput}}}
        {{{addButton}}}
    </div>
    <p class="{{styles.members_title}}">Members</p>
    <div class="{{styles.members_list}}">
        {{{members}}}
    </div>
</div>