<div>
    <div class="{{styles.members_search}}">
        {{{chatInput}}}
        {{{addButton}}}
    </div>
    <p class="{{styles.members_title}}">Members</p>
    <div class="{{styles.members_list}}">
        <div class="{{styles.members_item}}">
            {{{userInfo}}}
            <button id="removeMember" class="{{styles.members_item-remove}}">
                <img src="{{img}}" width="18" height="18" alt="Remove" />
            </button>
        </div>
    </div>
</div>