<a href="{{href}}"
    class="{{styles.buttonLink}} {{#if green}}{{styles.buttonLink__green}}{{/if}} {{#if red}}{{styles.buttonLink__red}}{{/if}} {{#if yellow}}{{styles.buttonLink__yellow}}{{/if}} {{#if small}}{{styles.buttonLink__small}}{{/if}} {{#if marginBottom}}{{styles.buttonLink__margin-bottom}}{{/if}} {{#if marginTop}}{{styles.buttonLink__margin-top}}{{/if}}">{{text}}</a>