<div class="{{styles.controls_wrapper}}">
    <a href="/chat" class="{{styles.controls_item}}"><img src="{{chatsIcon}}" alt="Chats" width="25" height="22" /></a>
    <a href="/chat/profile" class="{{styles.controls_item}}"><img src="{{profileSettingsIcon}}" alt="Profile settings"
            width="25" height="22" /></a>
</div>