<div class="{{styles.profile}}">
    {{{avatar}}}
    {{{userName}}}
    <form class="{{styles.profile_form}}">
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{phoneInput}}}
        {{#if isEditing}}
        {{{passwordInput}}}
        {{/if}}
    </form>

    {{#if isEditing}}
    {{{buttonSave}}}
    {{else}}
    {{{buttonChange}}}
    {{{buttonLogout}}}
    {{/if}}
</div>