<form class="{{styles.form}}">
    {{{avatar}}}
    {{{userName}}}
    <div class="{{styles.form_inputs}}">
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{phoneInput}}}
        {{#if isEditing}}
        {{{passwordInput}}}
        {{/if}}
    </div>

    {{#if isEditing}}
    {{{buttonSave}}}
    {{else}}
    {{{buttonChange}}}
    {{{buttonLogout}}}
    {{/if}}
</form>